@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
    width: 10px;
    height: 60px;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.75);
}

::-webkit-scrollbar-track {
    background: var(--dark);
}

:root {
    --blue: #0d6efd;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #d63384;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --black: #000000;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #0d6efd;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --nav: #171c24;
}


/*h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
    color: var(--white)
}*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background: var(--black);
    text-align: left;
}

.container {
    width: 1366px;
    /*width: 1440px; 
    width: 1920px;*/
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
}


/* =============== Start Navbar Css =============== */

.nav-wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    position: fixed;
    width: 100%;
    top: 0;
}

.nav-wrapper-background {
    width: 100%;
    top: 0px;
    display: flex;
    align-items: center;
    background: var(--nav);
    transition: background 0.5s;
    z-index: 9999;
}

.brand {
    display: flex;
    align-items: center;
}

.brand img {
    height: 60%;
    width: 60%;
    cursor: pointer;
}

.nav-wrapper ul.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    font-variant: small-caps;
    font-weight: 600;
}

.nav-wrapper ul.nav-list li {
    margin-left: 30px;
    padding: 20px 0;
    position: relative;
}

.nav-wrapper ul.nav-list li a {
    color: var(--white);
    text-decoration: none;
    letter-spacing: 1px;
    transition: all .5s ease-in-out;
}

.nav-wrapper ul.nav-list li a:hover,
.nav-wrapper ul.nav-list li.active a {
    color: var(--primary);
}

.nav-wrapper ul.dropdown-list {
    list-style-type: none;
    display: block;
    background: var(--light);
    padding: 6px 16px;
    position: absolute;
    width: max-content;
    z-index: 9999;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    pointer-events: none;
}

.nav-wrapper ul.dropdown-list li {
    margin: 10px 0;
    padding: 5px 0;
}

.nav-wrapper ul.dropdown-list li a {
    color: var(--dark);
}

.nav-wrapper ul.nav-list li:hover .dropdown-list {
    opacity: 1;
    pointer-events: auto;
    animation: moveUp .5s ease-in-out forwards;
}

@keyframes moveUp {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(-50%) translateY(20px);
    }
}

.btn {
    background: var(--primary);
    color: var(--white);
    outline: none;
    padding: 8px 20px;
    font-size: 14px;
    cursor: pointer;
    letter-spacing: 1px;
    border: 1px solid transparent;
    transition: all .5s ease-in-out;
    border-radius: 1px;
}

.btn:hover {
    background: transparent;
    color: var(--primary);
    border-color: var(--primary);
}


/* =============== End Navbar Css =============== */


/* =============== Responsive Mobile navbar Css =============== */

.hamburger {
    display: none;
}

.mobile .hamburger {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    cursor: pointer;
}

.mobile .hamburger span {
    background: var(--white);
    width: 28px;
    height: 2px;
    margin-bottom: 8px;
}

.mobile ul.nav-list {
    background: -webkit-linear-gradient(45deg, #434343, #000000);
    background: linear-gradient(45deg, #434343, #000000);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease-in-out;
}

.hamburger,
.brand {
    z-index: 9999;
}

.mobile ul.nav-list.open {
    opacity: 1;
    pointer-events: auto;
}

.mobile .hamburger span {
    transform-origin: left;
    transition: all .3s ease-in-out;
}

.mobile ul.nav-list li a {
    font-size: 20px;
}

.mobile ul.dropdown-list {
    position: relative;
    background: transparent;
    text-align: center;
    height: 0;
    overflow-y: hidden;
    transition: opacity 1s ease-in-out;
    padding-top: 0;
}

.mobile .nav-wrapper ul li:hover .dropdown-list {
    height: max-content;
    padding-top: 6px;
}

.mobile ul.nav-list li {
    margin-left: 0;
    text-align: center;
}

.mobile .nav-wrapper ul.dropdown-list li a {
    color: var(--gray);
}


/* =============== Responsive Mobile navbar Css =============== */


/* =============== Start banner Css =============== */

main section.header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 166px;
}

main section.header h1 {
    font-size: 36px;
    font-weight: 100;
    text-transform: capitalize;
    margin-bottom: 20px;
    color: var(--white);
}

main section.header h4 {
    font-size: 18px;
    font-weight: 400;
    color: var(--white);
    margin-bottom: 20px;
}


/* =============== End banner Css =============== */


/* =============== Start Footer Css =============== */

.main-footer {
    background: var(--nav);
    color: var(--white);
    text-align: center;
    padding: 20px;
    margin-top: 340px;
    width: 100%;
    position: fixed bottom;
}

.main-footer p a {
    color: var(--white);
    text-decoration: none;
    letter-spacing: 1px;
    transition: all .5s ease-in-out;
}

.main-footer p a:hover {
    color: var(--primary);
}


/* =============== End Footer Css =============== */


/* ======== Start Social Menu Sticky Css ======== */

#fixed-social {
    z-index: 1;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 290px
}

#fixed-social a {
    color: var(--white);
    display: block;
    height: 40px;
    position: relative;
    text-align: center;
    line-height: 40px;
    width: 40px;
    margin-bottom: 1px;
    z-index: 1;
    border-radius: 0px 3px 3px 0px;
}

#fixed-social a:hover>span {
    visibility: visible;
    left: 46px;
    opacity: 1;
    border-radius: 5px 50px 50px 5px;
}

#fixed-social a span {
    line-height: 40px;
    left: 60px;
    position: absolute;
    text-align: center;
    width: 120px;
    visibility: hidden;
    transition-duration: .5s;
    z-index: 1;
    opacity: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 700
}

.fixed-facebook,
.fixed-facebook span {
    background-color: #1877f2;
}

.fixed-twitter,
.fixed-twitter span {
    background-color: #1da1f2;
}

.fixed-linkedin,
.fixed-linkedin span {
    background-color: #007bb5;
}

.fixed-instagram,
.fixed-instagram span {
    background-color: #c32aa3;
}

.fixed-github,
.fixed-github span {
    background-color: #171c24;
}

.fixed-youtube,
.fixed-youtube span {
    background-color: #ff0000;
}


/* ======== End Social Menu Sticky Css ========== */


/* ======== Start Lite & Dark - mode Css ======== */


/* ========= End Lite & Dark - mode Css ========= */


/* =============== Start scroll-Up Css =============== */

.scroll_top {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    color: var(--white);
    background: var(--nav);
    position: fixed;
    bottom: 16px;
    right: 32px;
    height: 40px;
    width: 50px;
    border-radius: 6px 5px 6px 5px;
    transition: all 0.3s ease-in-out;
    border: 3px solid transparent;
}

.scroll_top:hover {
    background: transparent;
    border-color: rgba(255, 255, 255, 0.75);
}

.scroll_top:after {
    position: absolute;
    content: '';
    top: 110%;
    border-bottom: 20px solid rgba(255, 255, 255, 0.75);
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    width: 90px;
    border-radius: 10px;
}

.scroll_top.active {
    bottom: 16px;
    pointer-events: auto;
    opacity: 1;
    transform: translateY(-55px);
}


/* =============== End scroll-Up Css =============== */

.iv1 {
    padding-top: 200px;
}