p {
	margin-bottom: var(--contentSpacing);
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 20px;
}

ul, ol {
	padding-left: var(--listIndent);
	margin-bottom: var(--contentSpacing);

	li {
		margin-bottom: var(--listItemSpacing);

		&:last-child {
			margin-bottom: 0;
		}
	}

	ul, ol {
		margin-top: var(--listItemSpacing);
		margin-bottom: 0;
	}
}



// entry content spacing
.entry-content {

	// all elements
	> * {
		margin-bottom: var(--contentSpacing);

		&:first-child {
			margin-top: 0 !important;
		}

		&:last-child {
			margin-bottom: 0 !important;
		}
	}

	// headings
	h1, h2, h3, h4, h5, h6 {
		margin-top: var(--contentSpacing);
		margin-bottom: calc(0.2em + 10px);

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	// wide & full blocks
	// .alignwide, .alignfull {
	// 	margin-top: calc(var(--contentSpacing) + 1.15vw);
	// 	margin-bottom: calc(var(--contentSpacing) + 1.15vw);
	// }
}



// inner container blocks spacing
[class*="_inner-container"] > * {
	margin-bottom: var(--contentSpacing);

	&:first-child {
		margin-top: 0 !important;
	}

	&:last-child {
		margin-bottom: 0 !important;
	}
}