.wp-block-embed__wrapper{
	position: relative;

	&:before {
		content: '';
		display: block;
		padding-top: var(--aspect-ratio, 50%);
	}

	iframe,
	.container-lazyload,
	> .jetpack-video-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

// 1:1
.wp-embed-aspect-1-1 {
	--aspect-ratio: 100%;
}

// 1:2
.wp-embed-aspect-1-2 {
	--aspect-ratio: 200%;
}

// 21:9
.wp-embed-aspect-21-9 {
	--aspect-ratio: 42.85%;
}

// 4:3
.wp-embed-aspect-4-3 {
	--aspect-ratio: 75%;
}

// 16:9
.wp-embed-aspect-16-9 {
	--aspect-ratio: 56.25%;
}