.entry-content {	
	figcaption {
		--fontSize: 14px;
		margin-top: 15px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0;
		text-align: center;
		width:  var(--captionWidth);
		max-width: var(--block-max-width);
	}
}

[data-structure*="wide"] .entry-content {
	
	// Inside first level blocks
	> .alignfull > figcaption {
		--captionWidth: var(--container-width);
	}

	// Inside inner level blocks
	[class*="_inner-container"] {
		.alignfull > figcaption {
			--captionWidth: var(--innerBlockWidth);
		}
	}
}