@import 'gutenberg';
@import 'alignment';
@import 'inner-container';

// blocks
@import 'list';
@import 'image';
@import 'drop-cap';
@import 'instagram';
@import 'figcaption';
@import 'page-break';
@import 'file-block';
@import 'group-block';
@import 'table-block';
@import 'latest-posts';
@import 'search-block';
@import 'spacer-block';
@import 'column-block';
@import 'blocks-ratios';
@import 'gallery-block';
@import 'separator-block';
@import 'media-text-block';
@import 'latest-comments-block';
@import 'password-protected';

@import 'quote-block';