.post-password-form {
	> p {
		&:last-child {
			display: grid;
			align-items: flex-end;
			grid-template-columns: 1fr 250px;
			grid-column-gap: 15px;

			> label {
				margin-bottom: 0;

				input {
					margin-top: 0.5em;
				}
			}

			> input[type="submit"] {
				height: var(--formInputHeight);
			}
		}
	}
}