table.cart {
	--table-padding: 1em 0.7em;
	--table-border-width: 0;

	tr {
		--table-border-width: 0 0 1px 0;

		> * {
			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}
	}


	thead {

		th {
			--table-border-width: 0 0 2px 0;
			--table-border-style: solid;
			color: var(--headingColor);
			// background: #EDEFF2;
		}
	}


	// remove button
	.product-remove {
		@include media-breakpoint-up (md) {
			width: 20px;
		}

		a.remove {
			--linkInitialColor: var(--color);
			font-size: 20px;
			opacity: 0.5;
			transition: color 0.2s ease,
						opacity 0.2s ease;

			&:hover {
				opacity: 1;
			}
		}
	}

	tr:hover .remove {
		color: red;
	}


	// pruduct thumbnail
	.product-thumbnail {
		width: 90px;
		
		img {
			max-width: 75px;
			border-radius: 2px;
		}
	}


	// product name
	.product-name {
		a {
			font-weight: 500;
			--linkInitialColor: var(--color);
		}
	}

	td.product-name {
		@include media-breakpoint-up (md) {
			max-width: 300px;
		}
	}


	// price
	.product-price {
		@include media-breakpoint-up (md) {
			text-align: center;
		}
	}


	// quantity input
	.product-quantity {
		text-align: center;

		.quantity {
			--quantity-width: 70px;
			--quantity-height: 40px;

			input {
				--formFontSize: 13px;
			}
		}
	}


	// subtotal
	.product-subtotal {
		text-align: right;
	}
}