.woocommerce-cart-form__contents {
	.coupon {
		display: flex;
		@include media-breakpoint-down (sm) {
			flex-direction: column;
			margin-bottom: .8em;
		}

		@include media-breakpoint-up (md) {
			float: left;
		}

		label {
			display: none;
		}

		input {
			--formInputHeight: var(--buttonMinHeight);
			
			@include media-breakpoint-down (sm) {
				width: 100%;
				margin-bottom: .8em;
			}

			@include media-breakpoint-up (md) {
				width: 220px;
				margin-right: 8px;
			}
		}
	}
}