[class*="add_to_cart_button"].loading {	
	position: relative;

	&:after {
		position: var(--loadingIndicatorPosition, static);
		font-family: 'woo' !important;
		content: '\e982' !important;
		width: 13px;
		height: 13px;
		font-size: 13px;
		line-height: 13px;
		margin-left: 10px;
		animation: spin 1.5s linear infinite;
		// animation-play-state: paused;
	}
}