// $border-color: rgba(224, 229, 235, 0.8);

@import '../../1-helpers/mixins';
@import '../../1-helpers/functions';


@import 'fonts';
@import 'general';
@import 'listing-top';
@import 'badges';
@import 'shop-table';
@import 'shipping';
@import 'buttons';
@import 'select2';
@import 'message';
@import 'form-row';
@import 'store-notice';
@import 'variation';
@import 'order-review';
@import 'quantity-input';

// entries
@import 'entries/main';

// product page
@import 'product-page/main';

// cart page
@import 'cart-page/main';

// checkout page
@import 'checkout-page/main';

// account page
@import 'account/main';

// blocks
@import 'blocks/main';

// widgets
@import 'widgets/main';

// integrations
@import 'integrations/main';