.customize-control-ast-responsive-color {
	.customize-control-content {
		.ast-color-picker-alpha {
			display: none;
			.astra-color-picker-wrap{
				margin-left: 2px;
				margin-top: -14px;
				background-color: #ffffff;
				border-radius: 4px;
				.components-color-picker__saturation-black {
					border-radius: 4px 4px 0 0;
				}
				.components-color-picker__saturation-color {
					border-radius: 3px;
				}
				.components-color-picker__saturation-white {
					border-radius: 3px;
				}
			}
			&.active {
			display: block;
			}
		}
		.color-button-wrap {
			position: absolute;
			right: 24px;
			top: -4px
		}
		.components-color-picker__saturation-color,
		.components-color-picker__saturation-white {
			border-radius: unset;
		}
	}
	.ast-responsive-btns {
		position: absolute;
		right: 0;
		top: 0;
	}
}
.ast-field-settings-modal {
	.customize-control-ast-responsive-color {
		.customize-control-content {
			.color-button-wrap {
				right: 30px;
				top: -3px;
			}
			.astra-color-picker-wrap {
				margin-left: 0px;
				margin-bottom: 10px;
				margin-top: 10px;
			}
			.customize-control-title {
				display: block;
				margin-bottom: 0px;
			}
		}
		.ast-responsive-btns {
			right: 7px;
			top: 1px;
		}
		&.customize-control {
			&:first-child {
				margin-top: 28px;
			}
		}
		.ast-clear-btn-inside-picker {
			&.components-button {
				margin: 5px 20px 20px 10px;
			}
		}
		.ast-color-btn-reset-wrap {
			top: 3.5px;
		}
	}
}
.ast-responsive-color {
	.ast-color-btn-reset-wrap {
		right: 66px;
	}
}

@supports (-moz-appearance:none) {
	.ast-field-settings-modal {
		.customize-control-ast-responsive-color {
			.ast-color-btn-reset-wrap {
				top: 5.5px;
				right: 65px;
			}
			.customize-control-content {
				.color-button-wrap {
					right: 27px;
					top: -2px;
				}
			}
		}
	}
}
