[data-column*='copyright'] {
	display: flex;
	flex-direction: column;
	justify-content: var(--vertical-alignment);
	text-align: var(--horizontal-alignment);
}

.ct-footer-copyright {
	color: var(--color);
	margin: var(--margin);

	--contentSpacing: 0;

	> *:not(:first-child) {
		margin-top: 0.5em;
	}
}
