.ct-footer {
	overflow: hidden;

	[data-row] {
		z-index: 1;

		> div {
			display: grid;
			grid-template-columns: var(--grid-template-colummns);
			grid-column-gap: var(--items-gap);
			grid-row-gap: var(--items-gap);
			padding-top: var(--container-spacing);
			padding-bottom: var(--container-spacing);
		}
	}
}

// elements alignment
[data-column*='text'],
[data-column*='logo'],
[data-column*='menu'],
[data-column*='button'],
[data-column*='socials'],
[data-column*='search-input'],
[data-column*='language-switcher'] {
	display: flex;
	align-items: var(--vertical-alignment, flex-start);
	justify-content: var(--horizontal-alignment);
}
