.products {
	--listIndent: 0;
	--listItemSpacing: 0;
	--listStyleType: none;

	.ct-image-container img {
		height: 100%;
	}

	.woocommerce-loop-product__title,
	.woocommerce-loop-category__title {
		transition: var(--transition);
		margin-top: 0;
		margin-bottom: 0;
	}

	
	.entry-meta {
		font-size: 13px;
		margin-top: 5px;
	}


	// hide added to cart button
	.add_to_cart_button {
		&.added {
			--display: none;
		}
	}


	// quick view
	.ct-open-quick-view {
		top: 15px;
		right: 15px;
	}


	// hover state
	.product:hover {
		
		.ct-open-quick-view {
			opacity: 1;
		}

		.woocommerce-loop-product__title,
		.woocommerce-loop-category__title {
			color: var(--linkHoverColor);
		}
	}
}