[data-products="type-1"] {
	grid-row-gap: calc(var(--cardsGap) + 20px);

	.product {
		display: flex;
		flex-direction: column;
		position: relative;
	}

	.woocommerce-loop-product__link {
		display: flex;
		flex-direction: column;
		position: relative;
		width: 100%;
	}

	.ct-image-container {
		border-radius: var(--borderRadius);
		margin-bottom: 25px;
	}

	.price {
		margin-top: 5px;
	}

	.star-rating {
		margin-bottom: 15px;
	}

	.ct-woo-card-actions {
		padding-top: 20px;
		margin-top: auto;
	}

	// alignment
	&[data-alignment="center"] .product {
		text-align: center;

		.star-rating {
			margin-left: auto;
			margin-right: auto;
		}
	}

	&[data-alignment="right"] .product {
		text-align: right;

		.star-rating {
			margin-left: auto;
		}
	}
}