$selector:
	'.entry-content p > a',
	'.entry-content h1 > a',
	'.entry-content h2 > a',
	'.entry-content h3 > a',
	'.entry-content h4 > a',
	'.entry-content h5 > a',
	'.entry-content h6 > a',
	'.entry-content em > a',
	'.entry-content strong > a',
	
	'.entry-content > ul a',
	'.entry-content > ol a',
	'.wp-block-column > ul a',
	'.wp-block-column > ol a',
	'[class*="_inner-container"] > ul a',
	'[class*="_inner-container"] > ol a',

	'.gdpr-confirm-policy a',
;

a {
	text-decoration: var(--textDecoration, none);
}

// type 1
[data-link="type-1"] #{$selector} {
}

// type 2
[data-link="type-2"] {
	#{$selector} {
		--textDecoration: underline;
	}
}

// type 3
[data-link="type-3"] {
	#{$selector} {
		background-image: linear-gradient(currentColor, currentColor);
		background-position: 0% 100%;
		background-repeat: no-repeat;
		background-size: 0% 2px;

		&:hover, &:focus {
			background-size: 100% 2px;
		}
	}
}

// type 4
[data-link="type-4"] {
	#{$selector} {
		padding: 0 1px;
		background-image: linear-gradient(var(--linkInitialColor), var(--linkInitialColor));
		background-position: 0% 100%;
		background-repeat: no-repeat;
		background-size: 100% 2px;

		&:hover, &:focus {
			color: #fff;
			background-size: 100% 100%;
			background-image: linear-gradient(var(--linkHoverColor), var(--linkHoverColor));
		}
	}
}

// type 5
[data-link="type-5"] {
	#{$selector} {
		padding: 0 1px;
		background-image: linear-gradient(var(--linkHoverColor), var(--linkHoverColor));
		background-repeat: no-repeat;
		background-size: 0% 100%;

		&:hover, &:focus {
			color: #fff;
			background-size: 100% 100%;
		}
	}
}


// anchor links + sticky state
:target,
.elementor-menu-anchor {
	&:before {
		content: "";
		display: block;
		height: calc(var(--admin-bar, 0px) + var(--frame-size, 0px) + var(--headerStickyHeight, 0px));
		margin-top: calc(var(--admin-bar, 0px) + var(--frame-size, 0px) + var(--headerStickyHeight, 0px) * -1);
	}
}

