 /** Remove Button Color */

.astra-control-field.astra-color-control {
    display: flex;
}

.astra-control-field {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.astra-control-field.astra-color-control .customize-control-title {
    flex-grow: 2;
}
.astra-control-field .customize-control-title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    letter-spacing: 0.1px;
    line-height: 18px;
}
.customize-control-title {
    display: block;
    font-size: 14px;
    line-height: 1.75;
    font-weight: 600;
    margin-bottom: 4px;
}

.components-button.astra-color-icon-indicate .component-color-indicator.astra-advanced-color-indicate {
    width: 28px;
    height: 28px;
    border-radius: 4px;
    margin: 0;
}
.component-color-indicator {
    width: 25px;
    height: 16px;
    margin-left: 0.8rem;
    border: 1px solid #dadada;
    display: inline-block;
}

.astra-color-icon-indicate.components-button {
    height: auto;
    position: relative;
    transform: scale(1);
    border-radius: 4px;
    padding: 0;
    background-image: linear-gradient(45deg, #ddd 25%, transparent 0), linear-gradient(-45deg, #ddd 25%, transparent 0), linear-gradient(45deg, transparent 75%, #ddd 0), linear-gradient(-45deg, transparent 75%, #ddd 0);
    background-size: 10px 10px;
	background-position: 0 0, 0 5px, 5px -5px, -5px 0;
	border: 1px solid #929ba4;
}

/** Color */
.astra-popover-color .components-popover__content .components-focal-point-picker-wrapper {
    box-sizing: border-box;
}
.astra-popover-color .components-popover__content .components-focal-point-picker_position-display-container input[type="number"].components-text-control__input {
    min-height: 16px;
    line-height: 16px;
    font-size: 12px;
    width: 50px;
    font-weight: normal;
}
.astra-popover-color .components-popover__content .components-focal-point-picker_position-display-container .components-base-control {
    flex: 1;
    margin-bottom: 0;
}
.astra-popover-color .components-popover__content .components-focal-point-picker_position-display-container .components-base-control .components-base-control__label {
    margin-bottom: 0;
    margin-right: 0.2em;
}
.astra-popover-color .components-popover__content .components-focal-point-picker_position-display-container .components-base-control__field {
    display: flex;
    align-items: center;
    font-size: 8px;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
}
.astra-popover-color .components-popover__content .components-focal-point-picker_position-display-container .components-base-control:last-child .components-base-control__field {
    justify-content: flex-end;
}
.astra-popover-color .components-popover__content .actions {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.astra-popover-color .components-popover__content .actions .button {
    flex: 1;
    margin-top: 10px;
}
.astra-background-picker-wrap .astra-popover-color .components-popover__content {
    min-width: 300px;
    min-height: 340px;
    max-height: 60vh;
}
.color-button-wrap {
	display: inline;
    position: absolute;
    right: 5px;
    top: -4.5px;
}
.components-button.astra-background-icon-indicate {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    transform: scale(1);
    transition: transform 0.1s ease;
    border-radius: 50%;
    padding: 0;
    background-image: linear-gradient(45deg, #ddd 25%, transparent 0), linear-gradient(-45deg, #ddd 25%, transparent 0), linear-gradient(45deg, transparent 75%, #ddd 0), linear-gradient(-45deg, transparent 75%, #ddd 0);
    border: 1px solid #dadada;
    background-size: 10px 10px;
    background-position: 0 0, 0 5px, 5px -5px, -5px 0;
}
.components-button.astra-background-icon-indicate .component-color-indicator.astra-advanced-color-indicate {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    margin: 0;
    display: block;
    position: absolute;
    border: 0;
    top: 0;
}
.components-button.astra-background-icon-indicate > svg.dashicon {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 100%;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.components-button.astra-background-icon-indicate > svg.dashicon path {
    transform: translate(1px, 1px);
}
.components-button.astra-background-icon-indicate img.astra-background-image-preview {
    display: flex;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
}
.components-button.astra-background-icon-indicate:hover {
    box-shadow: none !important;
}
.astra-control-field.astra-color-control {
    display: flex;
}
.astra-control-field.astra-color-control .customize-control-title {
    flex-grow: 2;
}
.components-popover.astra-popover-color .components-popover__content {
    padding: 15px 15px 0px;
    box-sizing: initial;
    background: #fff;
    border: unset;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
}
.customize-control-ast-color.customize-control {
    margin-top: 32px;
}
.customize-control-ast-color.customize-control > * {
    display: inline;
}
.components-popover.astra-popover-color .components-popover__content .sketch-picker {
    padding: 0 0 5px !important;
    box-shadow: none !important;
    border-radius: 0px !important;
}
.components-popover.astra-popover-color .components-popover__content .attachment-media-view {
    margin-top: 10px;
    margin-bottom: 10px;
}
.astra-swatches-wrap .astra-swatche-item-wrap:hover {
    transform: scale(1.2) !important;
}
.astra-swatches-wrap .astra-swatche-item-wrap .astra-swatch-item {
    background-image: linear-gradient(45deg, #ddd 25%, transparent 0), linear-gradient(-45deg, #ddd 25%, transparent 0), linear-gradient(45deg, transparent 75%, #ddd 0), linear-gradient(-45deg, transparent 75%, #ddd 0);
    background-size: 10px 10px;
    background-position: 0 0, 0 5px, 5px -5px, -5px 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.astra-swatches-wrap .astra-swatche-item-wrap .astra-swatch-item .dashicon {
    display: none;
}
.astra-swatches-wrap .astra-swatche-item-wrap .astra-swatch-item.swatch-active {
    box-shadow: 0 0 0 8px inset !important;
}
.astra-swatches-wrap .astra-swatche-item-wrap .astra-swatch-item.swatch-active .dashicon {
    display: block;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    width: 16px;
    height: 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 100%;
}
.astra-swatches-wrap .astra-swatche-item-wrap .astra-swatch-item.swatch-active .dashicon path {
    transform: translate(1px, 1px);
}
.components-button.astra-color-icon-indicate > .dashicon {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    color: white;
    background: rgb(85 93 101);
    border-radius: 4px;
    width: 24px;
    height: 24px;
    font-size: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.astra-popover-color {
    margin-left: 2px;
	margin-top: 5px;
	background-color: #ffffff;
	border: 1px solid #a29090;
	border-radius: 4px;
}

.ast-field-settings-modal .astra-popover-color {
    margin-left: 0px;
	border: 1px solid #dedede;
}
.ast-field-settings-modal .astra-popover-color .components-tab-panel__tabs {
	padding: 8px;
}
.components-color-picker__saturation-black {
	border-radius: 4px 4px 0 0;
}
.components-color-picker__saturation-color {
	border-radius: 3px;
}
.components-color-picker__saturation-white {
	border-radius: 3px;
}
.astra-color-picker-wrap {
	margin-left: 5px;
}
.components-circular-option-picker__option-wrapper .components-circular-option-picker__option:focus::after {
	width: 27px;
    height: 27px;
}
.ast-color-palette .components-circular-option-picker__option-wrapper {
    margin-right: 6px;
}
/* Clear Button CSS */
.ast-color-btn-clear-wrap {
	position: absolute;
    top: 1.5px;
    right: 65px;
}
.ast-color-btn-clear-wrap .astra-color-clear-button.components-button {
	padding: 10px 3px;
	width: 20px;
	height: 20px;
}
.ast-clear-btn-inside-picker.components-button,
.astra-popover-tabs .ast-clear-btn-inside-picker.components-button {
	margin: 5px 20px 20px 15px;
	padding: 0 8px;
}
.ast-clear-btn-inside-picker {
	padding: 0 8px;
}
/* Reset Button CSS */
.ast-color-btn-reset-wrap {
	position: absolute;
    right: 46px;
    top: 1.5px;
}
.ast-color-btn-reset-wrap .ast-reset-btn.components-button {
	color: #006BA1;
    height: 20px;
    width: 20px;
    padding: 4px;
    box-shadow: inset 0 0 0 1px #007cba;
}
.astra-color-clear-button.components-button:focus:not(:disabled) {
	outline: unset;
	border: 1px solid #006BA1;
}
.astra-color-clear-button.components-button.is-secondary:hover:not(:disabled),
.astra-color-clear-button.components-button:focus:not(:disabled) {
	box-shadow: 0 0 black;
	padding: 1.5px;
	border: 1px solid #006BA1;
}
.astra-color-clear-button.components-button.is-secondary:disabled,
.ast-reset-btn.components-button.is-secondary:disabled {
	box-shadow: inset 0 0 0 1px #007cba;
}
/** Inside Setting group popup - Colors */
.ast-field-settings-modal .color-button-wrap {
    right: 16px;
}
.ast-field-settings-modal .ast-color-btn-reset-wrap {
    right: 59px;
}
.ast-field-settings-modal .ast-color-btn-clear-wrap {
    right: 78px;
}
.ast-field-settings-modal .customize-control-ast-color.customize-control {
    margin-top: 28px;
}
.ast-field-settings-modal .customize-control-ast-color.customize-control:first-child {
    margin-top: 28px;
}
.astra-color-picker-wrap .components-color-picker__inputs-wrapper {
	min-width: unset;
}
/** Gradient Color Picker */
.customize-control .ast-gradient-color-picker input[type="number"] {
	width: 100%;
}
.ast-gradient-color-picker .components-select-control.components-custom-gradient-picker__type-picker {
    align-items: center;
    flex-direction: inherit;
}
.astra-color-picker-wrap .components-popover__content {
    width: max-content;
}
/** Gradient Color Picker -> RGBA & HSLA range fields */
.customize-control .ast-gradient-color-picker .is-alpha-enabled .components-base-control__field [type="number"] {
    width: 100%;
}
/** Modal Color Picker - Group Param */
.ast-field-settings-modal .astra-popover-color .ast-color-palette {
	padding: 8px 0px 0px 13px;
	margin-bottom: -8px;
}
.ast-field-settings-modal .astra-popover-color .ast-color-palette .components-circular-option-picker__option-wrapper {
    margin-right: 5px;
}
.ast-field-settings-modal .components-circular-option-picker__option-wrapper .components-circular-option-picker__option:focus::after {
	width: 24px;
    height: 24px;
}
.ast-field-settings-modal .ast-color-palette .components-circular-option-picker__option-wrapper {
	height: 25px;
	width: 25px;
}
.ast-field-settings-modal .ast-color-palette .components-circular-option-picker__option.is-pressed + svg {
	left: 2.5px;
	top: 0px;
	width: 20px;
}
@media (max-width: 1845px) {
    /** Responsive Devices - Compatibility CSS */
    .ast-color-palette .components-circular-option-picker__option-wrapper {
        height: 25px;
        width: 25px;
    }
    .ast-color-palette .components-circular-option-picker__option-wrapper .components-circular-option-picker__option {
        padding: 6px 10px;
    }
    .ast-color-palette .components-circular-option-picker__option.is-pressed + svg {
        width: 18px;
        left: 4px;
        top: 1px;
    }
    .ast-color-palette .components-circular-option-picker__option-wrapper .components-circular-option-picker__option:focus::after {
        width: 24px;
        height: 24px;
    }
    .astra-popover-color .ast-color-palette.components-circular-option-picker {
        width: auto;
        padding: 16px 0px 0px 12px;
    }
    .astra-typography-control .typography-button-wrap > button.components-button.astra-typography-preview-indicate {
        padding: 0 2px;
    }
    .astra-typography-control .typography-button-wrap > button.components-button {
        padding: 0 4px;
	}
	/** Modal Popup */
	.ast-field-settings-modal .components-circular-option-picker__option-wrapper .components-circular-option-picker__option:focus::after {
		width: 21px;
		height: 21px;
	}
	.ast-field-settings-modal .ast-color-palette .components-circular-option-picker__option-wrapper {
		height: 22px;
		width: 22px;
	}
	.ast-field-settings-modal .ast-color-palette .components-circular-option-picker__option.is-pressed + svg {
		left: 2.5px;
		top: -1px;
		width: 18px;
	}
}
@supports (-moz-appearance:none) {
	@media (max-width: 1845px) {
		.ast-color-palette .components-circular-option-picker__option-wrapper {
			margin-right: 5px;
		}
		.ast-field-settings-modal .components-circular-option-picker__option-wrapper .components-circular-option-picker__option:focus::after {
			width: 21px;
			height: 21px;
		}
		.ast-field-settings-modal .ast-color-palette .components-circular-option-picker__option-wrapper {
			height: 20px;
			width: 20px;
		}
		.ast-field-settings-modal .ast-color-palette .components-circular-option-picker__option.is-pressed + svg {
			left: 3px;
			top: -2px;
			width: 15px;
		}
	}
}
