@import 'brizy';
@import 'elementor';
@import 'uae';
@import 'product-addons';
@import 'payment-gateways';
@import 'product-table';
@import 'composite-products';
@import 'mercado-pago';
@import 'smart-coupons';
@import 'product-quantity';