.wp-block-button__link,
.wp-block-file .wp-block-file__button {
	display: inline-flex;
	align-items: center;
	padding: 5px 25px !important;
	min-height: var(--buttonMinHeight);
	border-radius: var(--buttonBorderRadius);
	transition: color 0.2s ease,
				border-color 0.2s ease,
				background-color 0.2s ease;
}


// filled button
.wp-block-file .wp-block-file__button,
.wp-block-button:not(.is-style-outline) .wp-block-button__link {
	background-color: var(--buttonInitialColor);

	&:hover {
		background-color: var(--buttonHoverColor);
	}
}

// outlined button
.wp-block-button.is-style-outline .wp-block-button__link {
	color: var(--buttonInitialColor);
	border-color: var(--buttonInitialColor);

	&:hover {
		color: #fff;
		border-color: var(--buttonHoverColor);
		background-color: var(--buttonHoverColor);
	}
}