body {
	.editor-styles-wrapper {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
	}

	.editor-styles-wrapper,
	.editor-styles-wrapper h1,
	.editor-styles-wrapper h2,
	.editor-styles-wrapper h3,
	.editor-styles-wrapper h4,
	.editor-styles-wrapper h5,
	.editor-styles-wrapper h6,
	.editor-styles-wrapper pre,
	.editor-styles-wrapper code,
	.editor-styles-wrapper .wp-block-pullquote p,
	.editor-styles-wrapper .wp-block-quote.is-style-large p {
		font-family: var(--fontFamily);
		font-size: var(--fontSize);
		font-weight: var(--fontWeight);
		font-style: var(--fontStyle, inherit);
		line-height: var(--lineHeight);
		letter-spacing: var(--letterSpacing);
		text-transform: var(--textTransform);
		text-decoration: var(--textDecoration);
	}

	// buttons
	.editor-styles-wrapper .wp-block-button__link {
		font-family: var(--buttonFontFamily, var(--fontFamily));
		font-size: var(--buttonFontSize);
		font-weight: var(--buttonFontWeight);
		font-style: var(--buttonFontStyle);
		line-height: var(--buttonLineHeight);
		letter-spacing: var(--buttonLetterSpacing);
		text-transform: var(--buttonTextTransform);
		text-decoration: var(--buttonTextDecoration);
	}

	// post & page title
	.editor-post-title__block .editor-post-title__input {
		font-family: var(--fontFamily);
		font-weight: 700;
	}
}