.menu > [class*='ct-mega-menu'] {

	> .sub-menu > li {
		border-top: none;
	}

	// column border
	> .sub-menu > li {
		&:not(:last-child) {
			border-right: var(--drop-down-columns-divider);
		}
	}

	.sub-menu .child-indicator {
		display: none;
	}
}