.entry-summary {
	
	> .product_title {
		margin-bottom: 10px;
	}

	> .woocommerce-product-rating {
		margin-bottom: 10px;
	}
	
	> .price {
		margin-bottom: 28px;
	}

	> .stock {
		margin-top: 2em;
	}
}

// position sticky
.sticky-summary .entry-summary {
	@include media-breakpoint-up (lg) {
		align-self: flex-start;
		position: sticky;
		top: calc(50px + var(--admin-bar, 0px) + var(--headerStickyHeight, 0px));
	}	
}