.entry-summary > .product_meta {
	margin-top: 40px;
	padding-top: 40px;
	border-top: 1px solid var(--border-color);

	> span {
		font-size: 13px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		font-weight: 700;
		display: block;
		
		&:not(:last-child) {
			margin-bottom: 5px;
		}

		> * {
			opacity: 0.7;
			font-weight: 500;
			--linkInitialColor: var(--color);
		}

		> a:hover {
			opacity: 1;
		}
	}
}