form.grouped_form {

	table {
		margin: 0;
		border: none;
	}

	tr {
		@include media-breakpoint-down (xs) {
			display: grid;
			grid-template-columns: 1fr auto;
			grid-auto-rows: auto;
			grid-column-gap: 20px;
			// grid-row-gap: 3px;
			
			text-align: left;
			margin-bottom: 1.8em;
			padding-bottom: 1.8em;
			border-bottom: 1px dashed var(--border-color);

			td {
				padding: 0;
			}
		}
	}

	td {
		padding: 0 0 1.8em 0;
		border: none;
	}

	.woocommerce-grouped-product-list-item__quantity {
		// width: $quantity-width;

		@include media-breakpoint-down (xs) {
			grid-column: 2;
			grid-row: 1 / span 2;
		}
	}

	.woocommerce-grouped-product-list-item__label {
		@include media-breakpoint-down (xs) {
			grid-column: 1;
			grid-row: 1;
		}

		@include media-breakpoint-up (sm) {
			width: 100%;
			padding-left: 20px;
			padding-right: 20px;
		}

		label {
			--fontSize: 16px;
			--fontWeight: 500;
			--linkInitialColor: var(--color);
		}
	}

	.woocommerce-grouped-product-list-item__price {
		font-weight: 500;

		@include media-breakpoint-up (sm) {
			text-align: right;

			del {
				order: initial;
				margin: 0 5px 0 0;
			}
		}
	}

	// action buttons
	.added_to_cart,
	.single_add_to_cart_button {
		@include media-breakpoint-down (xs) {
			width: 100%;
		}

		@include media-breakpoint-up (sm) {
			float: left;
			width: calc(50% - 7px);
		}
	}

	.added_to_cart {
		@include media-breakpoint-down (xs) {
			margin-top: 1em;
			margin-left: 0;
		}
	}

	.single_add_to_cart_button {
		@include media-breakpoint-up (sm) {
			margin-right: 14px;
		}
	}
}