.ct-product-view {
	position: relative;
}

.woocommerce-product-gallery__trigger {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 9;
	width: 39px;
	height: 39px;
	background: #fff;
	text-indent: -9999px;
	border-radius: 100%;
	--linkInitialColor: var(--color);

	&:hover {
		color: #fff;
		background: var(--paletteColor1);
	}

	&:before {
		content: "";
		display: block;
		width: 14px;
		height: 14px;
		border: 2px solid currentColor;
		border-radius: 100%;
		position: absolute;
		top: 12px;
		left: 12px;
	}

	&:after {
		content: "";
		display: block;
		width: 2px;
		height: 5px;
		background: currentColor;
		border-radius: 6px;
		position: absolute;
		top: 23px;
		left: 24px;
		transform: rotate(-45deg);
	}
}

// popup
.woocommerce .pswp__bg, 
.woocommerce-page .pswp__bg {
	opacity: 0.7 !important;
}