.ct-header-account {
	> a {
		display: flex;
		align-items: center;
	}

	.ct-image-container {
		width: var(--avatar-size, 18px);
		height: var(--avatar-size, 18px);
		border-radius: 100%;
		overflow: hidden;
		-webkit-mask-image: -webkit-radial-gradient(white, black);
	}

	svg {
		fill: currentColor;
		width: var(--icon-size, 15px);
    	height: var(--icon-size, 15px);
	}

	.ct-label {
		&:last-child {
			margin-left: 8px;
		}

		&:first-child {
			margin-right: 8px;
		}
	}
}


// account modal
#account-modal {
	// --overflow: visible;
	--horizontal-alignment: center;
	--vertical-alignment: center;
}

.ct-account-form {
	width: 100%;
	
	@include media-breakpoint-down (xs) {
		max-width: 88vw;
	}

	@include media-breakpoint-up (sm) {
		max-width: 480px;
	}

	border-radius: 3px;
	box-shadow: var(--box-shadow);
	--contentSpacing: 1em;
	--formBorderInitialColor: rgba(18, 21, 25, 0.15);
}


// account content
.ct-account-form {
	> ul {
		--listIndent: 0;
		--listItemSpacing: 0;
		--listStyleType: none;
		display: flex;
		margin-bottom: 0;

		li {
			width: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			height: 60px;
			font-size: 12px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.03em;
			cursor: pointer;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			transition: opacity 0.1s ease,
						background 0.1s ease;

			&.active {
				border-bottom-color: transparent;
			}

			&:not(.active) {
				opacity: 0.5;
				background: rgba(0, 0, 0, 0.04);

				&:hover {
					opacity: 0.8;
				}
			}

			&:first-child {
				border-right: 1px solid rgba(0, 0, 0, 0.1);
			}
		}
	}

	section {
		@include media-breakpoint-down (xs) {
			padding: 40px 30px;
		}

		@include media-breakpoint-up (sm) {
			padding: 60px 70px;
		}

		&:not(.active) {
			display: none;
		}
	}

	form > * {
		--contentSpacing: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	label {
		display: block;
		--fontSize: 14px;
	}

	.ct-button {
		width: 100%;
	}

	.col-2 {
		display: flex;
		justify-content: space-between;
	}

	#reg_passmail,
	.ct-back-to-login {
		font-size: 14px;
		text-align: center;
	}

	.ct-back-to-login {
		display: block;
		margin-top: 20px;
	}

	.login-remember {
		font-size: 14px;

		label {
			margin: 0;
		}

		input {
			--top: 3px;
		}
	}

	#reg_passmail {
		opacity: 0.7;
	}


	// error state
	.ct-errors {
		color: rgba(255, 255, 255, 0.95);
		font-size: 13px;
		margin-bottom: 1em;
		border-radius: 3px;
		padding: 5px 10px;
		background: rgba(218, 0, 28, 0.7);
	}

	// shake animation
	&.ct-error {
		animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
		transform: translate3d(0, 0, 0);
		backface-visibility: hidden;
		perspective: 1000px;
	}
}