.ct-header-divider {
	display: inline-flex;
}

#header {
	.ct-header-divider {
		align-items: center;
		height: var(--height);

		span {
			height: var(--divider-size, 100%);
			border-right: var(--divider-style);
		}
	}
}

#offcanvas {
	.ct-header-divider {
		justify-content: var(--horizontal-alignment);
		width: 100%;

		span {
			width: var(--divider-size, 100%);
			border-bottom: var(--divider-style);
		}
	}
}