header {
	[data-column] {
		min-height: var(--height);
	}

	[data-column='middle'] {
		display: flex;
	}

	[data-column='start'],
	[data-column='end'] {
		min-width: 0;
	}

	[data-items] {
		display: flex;
		align-items: center;
		min-width: 0;
	}
}

// visibility
@include media-breakpoint-down(md) {
	header [data-device='desktop'] {
		display: none;
	}
}

@include media-breakpoint-up(lg) {
	header [data-device='mobile'] {
		display: none;
	}
}

// 3 columns
[data-middle='search-input'] {
	--middle-column-width: var(--search-box-max-width, 50%);
}

header [data-column-set='3'] > div {
	display: grid;
	grid-template-columns: 1fr var(--middle-column-width, auto) 1fr;
}

// 2 columns
header [data-column-set='2'] > div {
	display: grid;
	grid-template-columns: auto auto;
}

// 1 column
header [data-column-set='1'] [data-column='middle'] {
	[data-items] {
		width: 100%;
	}
}

// placements
[data-placements] {
	display: grid;
}

[data-placements='2'] {
	display: grid;
	grid-template-columns: auto auto;
}

[data-placements='1'] {
	// grid-template-columns: 1fr;
}

// items alignment
[data-column='middle'] > [data-items] {
	justify-content: center;
}

[data-column='start'] > [data-items='secondary'] {
	justify-content: flex-end;
}

[data-column='end'] > [data-items='primary'] {
	justify-content: flex-end;
}
