.ct-header-search {
	display: flex;
	align-items: center;

	a {
		display: flex;
		align-items: center;

		svg {
			flex-grow: 1;
			width: var(--icon-size, 15px);
			height: var(--icon-size, 15px);
			fill: currentColor;
		}
	}
}

// Search modal form
#search-modal {
	--vertical-alignment: center;

	form {
		width: 100%;
		margin-left: auto;
		margin-right: auto;

		@include media-breakpoint-down (sm) {
			max-width: 88%;
		}

		@include media-breakpoint-only (md) {
			max-width: 90%;
		}

		@include media-breakpoint-up (lg) {
			max-width: 800px;
		}

		&.ct-has-dropdown {
			padding-top: 50px;
			padding-bottom: 50px;
		}
	}

	.ct-search-input {
		input[type="search"] {
			@include media-breakpoint-down (sm) {
				--formInputHeight: 70px;
				--formFontSize: 22px;
				--formPadding: 0;
			}

			@include media-breakpoint-up (md) {
				--formInputHeight: 90px;
				--formFontSize: 35px;
				--formPadding: 0 50px 0 0;
			}

			border: 0;
			border-radius: 0;
			font-weight: 500;
			color: var(--linkInitialColor);
			letter-spacing: 0.03em;
			background-color: transparent;
		}

		&:after {
			position: absolute;
			content: '';
			width: 100%;
			height: 1px;
			background: var(--linkInitialColor);
			left: 0;
			bottom: 0;
			opacity: 0.2;
		}

		.search-submit {
			right: 0;
			color: #fff;
			border-radius: 100%;
			background: var(--linkHoverColor);

			@include media-breakpoint-down (sm) {
				--search-button-size: 40px;
				top: calc(50% - 20px);
			}

			@include media-breakpoint-up (md) {
				--search-button-size: 48px;
				top: calc(50% - 24px);
			}

			svg {
				width: calc(100% / 3);
				height: calc(100% / 3);
			}

			&:focus {
				outline: none;
			}
		}

		[data-loader] {
			--loaderColor: #fff;
		}
	}
}


// Search modal results
#search-modal {
	.ct-search-results {
		display: grid;
		grid-column-gap: 30px;
		grid-row-gap: 30px;
		padding-top: 0;
		--position: static;
		--width: 100%;
		--box-shadow: none;
		--dropdown-background: transparent;

		@include media-breakpoint-down (sm) {
			margin-top: 25px;
		}

		@include media-breakpoint-up (md) {
			grid-template-columns: repeat(2, 1fr);
			margin-top: 35px;
		}

		a {
			--items-padding: 0;
			--items-divider: none;
		}

		.ct-image-container {
			margin-right: 5%;

			@include media-breakpoint-down (sm) {
				--image-size: 15%;
			}

			@include media-breakpoint-up (md) {
				--image-size: 20%;
			}
		}

		// show more button
		.ct-search-more {
			grid-column: 1/-1;
		}
	}
}