// contained related posts
article > .ct-related-posts {
	margin-top: 60px;
	padding-top: 40px;
	border-top: 1px solid rgba(0, 0, 0, 0.05);
}

// contained comments
article > .ct-comments {
	margin-top: 60px;
	padding-top: 50px;
	border-top: 1px solid rgba(0, 0, 0, 0.05);
}

// separated comments
.ct-comments-container > div {
	@include media-breakpoint-down(sm) {
		padding-top: 40px;
		padding-bottom: 60px;
	}

	@include media-breakpoint-up(md) {
		padding-top: 60px;
		padding-bottom: 100px;
	}
}