.ct-share-box[data-type="type-3"] {

	div {
		display: flex;
		margin-top: calc(var(--spacing, 15px) * -1);
		margin-left: calc(var(--spacing, 15px) / -2);
		margin-right: calc(var(--spacing, 15px) / -2);

		a {
			margin-top: var(--spacing, 15px);
			margin-left: calc(var(--spacing, 15px) / 2);
			margin-right: calc(var(--spacing, 15px) / 2);
		}
	}
}