.ct-icon-picker-value {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	> div {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 9px;
		text-transform: uppercase;
		font-weight: 600;
		letter-spacing: 1px;
		min-width: 75px;
		height: 30px;
		margin-left: 15px;
		cursor: pointer;
		border-radius: 3px;
		box-sizing: border-box;
		border: 1px solid var(--borderColor, #ddd);
		transition: border-color 0.1s linear;

		&:hover {
			border-color: var(--accentColor);
		}

		.ct-edit,
		.ct-remove {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 50%;
			height: 100%;

			&:before {
				font-family: 'dashicons';
				font-weight: 400;
				font-size: 15px;
				width: 15px;
				height: 15px;
				line-height: 15px;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}

			&:hover .ct-tooltip-top {
				opacity: 1;
				visibility: visible;
				transform: translate3d(0px, -40px, 0px);
			}
		}

		.ct-edit {
			&:before {
				content: '\f464';
			}

			&:hover {
				color: var(--accentColor);
			}
		}

		.ct-remove {
			&:before {
				content: '\f335';
				margin-left: 1px;
			}

			&:hover {
				color: #dd4b39;
			}
		}

		.divider {
			height: 50%;
			border-left: 1px solid var(--borderColor, #ccc);
		}
	}

	.ct-icon-preview {
		display: flex;
		cursor: pointer;
		transition: color 0.1s linear;

		svg {
			width: 24px;
			height: 24px;
			fill: currentColor;
		}

		&:hover {
			color: var(--accentColor);
		}
	}
}

.ct-icon-picker-modal {
	height: 400px;
	display: flex;
	flex-direction: column;
	padding: 20px;

	input[type='text'] {
		--height: 30px;
	}

	.ct-icons-list {
		overflow: auto;
		width: calc(100% + 40px);
		padding: 0 20px;
		box-sizing: border-box;
		margin: 10px -20px 0 -20px;

		h2 {
			font-size: 13px;
			font-weight: 500;
			margin: 15px 0 10px 0;
		}
	}

	ul {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-column-gap: 5px;
		grid-row-gap: 5px;

		li {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 45px;
			margin: 0;
			padding: 5px 5px;
			border-radius: 3px;
			box-sizing: border-box;
			cursor: pointer;

			&.active {
				color: #fff;
				background: var(--accentColor);
			}

			&:not(.active):hover {
				background: #f5f5f5;
			}

			svg {
				// height: 25px;
				max-width: 20px;
				fill: currentColor;
			}
		}
	}
}
