.blocksy-sidebar-active .edit-post-sidebar {

	> .edit-post-sidebar-header,
	> .interface-complementary-area-header {
		display: none;
	}
}

.ct-panel-options-header {
	display: flex;
	align-items: center;
	margin: 0 -12px;
	padding-right: 4px;
	border-top: none;

	button.is-pressed {
		margin-left: auto;
	}
}